*
!images/
!images/1_johndoe
!images/2_janedoe
!images/3_admin
!images/1_johndoe/*
!images/2_janedoe/*
!images/3_admin/*

!three_d_models
!three_d_models/1_johndoe
!three_d_models/2_janedoe
!three_d_models/3_admin
!three_d_models/1_johndoe/*
!three_d_models/2_janedoe/*
!three_d_models/3_admin/*